body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

/* Navigation */

.nav ul {
  font-size: 18px;
  color: white;
}

.nav {
  background-image: url("resources/the-flatiron-building.png");
}

/* Designed in New York */

.design {
  background-image: url("resources/the-flatiron-building.png");
}

.design p {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/* Footer */

.footer {
  background-color: dimgray;
}

.footer p {
  font-size: 11px;
  color: white;
  text-decoration: underline;
}

.footer h6 {
  font-size: 11px;
  color: white;
}
